@font-face {
    font-family: Condensa CB;
    src: url(font/CondensaCB-BoldCondensed.woff);
}

@font-face {
    font-family: CenturySchoolBook;
    src: url(font/Century-Schoolbook-Monospace-BT.woff);
}

body{
    background-color: #1D1D1D;
    margin: 0;
}

.slideshow img{
    display: grid;
    grid-template-columns: (repeat(4, 1fr));
    max-width: 100%;
}

.name{
    font-family: Condensa CB;
    font-size: 80px;
    color: #fcf0d3;
    text-align: center;
    position: absolute;
    top: 930px;
}

.prenom{
    font-family: Condensa CB;
    font-size: 50px;
    color: #fcf0d3;
    text-align: center;
    margin-top: 393px;
}

.prenom a{
    text-decoration: none;
    color: #fcf0d3;
}

.tout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 300px;
    margin-bottom: 30px;
    font-family: Condensa CB;
    font-size: 22px;
    color: #fcf0d3;
    text-decoration: none;
}

.program{
    text-decoration: none;
    color: #fcf0d3;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #fcf0d3;
    text-align: center;
    grid-column: span 1;
}

.billet{
    text-decoration: none;
    color: #fcf0d3;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #fcf0d3;
    text-align: center;
    grid-column: span 2;
}

.infor{
    text-decoration: none;
    color: #fcf0d3;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #fcf0d3;
    text-align: center;
    grid-column: span 1;
}

.pages{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat (15, 1fr);
}

.fullpage{
    grid-column: span 6;
    align-self: center;
    width: 100%;
    margin-bottom: -111px;
}

.title.christine{
    font-family: Condensa CB;
    font-size: 423px;
    text-align: center;
    color:#6865FF;
    margin: 0;
    line-height: 0.8;
}

.real.christine{
    font-family: Condensa CB;
    font-size: 80px;
    text-align: center;
    grid-column: span 4;
    grid-row: 3/4;
    color: #6865FF;
    margin: 0;
}

.synopsis.christine{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 5/6;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
}

.chris1{
    grid-column: span 6;
    align-self: center;
    width: 100%;
    grid-row: 6/7;
}

.chris2{
    grid-column: span 6;
    align-self: center;
    width: 100%;
    grid-row: 7/8;
}

.distrib{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 8/9;
    text-align: justify;
    padding-left: 400px;
    padding-right: 400px;
    list-style-type: disc;
}

.fiche{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 9/10;
    text-align: justify;
    padding-left: 400px;
    padding-right: 400px;
    list-style-type: disc;
}

.chris3{
    grid-column: span 6;
    align-self: center;
    width: 100%;
    grid-row: 10/11;
}

.chris4{
    grid-column: span 6;
    align-self: center;
    width: 100%;
    grid-row: 11/12;
}

.chris5{
    font-family: Condensa CB;
    font-size: 50px;
    text-align: center;
    grid-row: 12/13;
}

.chris5 a{
    text-decoration: none;
    color:#6865FF;
}

.christout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 13/14;
    margin-bottom: 30px;
    font-family: Condensa CB;
    font-size: 22px;
    color:#6865FF;
    text-decoration: none;
    margin-top: 100px;
}

.programchris{
    text-decoration: none;
    color:#6865FF;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #6865FF;
    text-align: center;
    grid-column: span 1;
}

.billetchris{
    text-decoration: none;
    color:#6865FF;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #6865FF;
    text-align: center;
    grid-column: span 2;
}

.inforchris{
    text-decoration: none;
    color:#6865FF;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #6865FF;
    text-align: center;
    grid-column: span 1;
}

.topname{
    position: fixed;
    top: 20px;
    left: 600px;
    max-width: 250px;
}

.progr{
    font-family: Condensa CB;
    font-size: 79px;
    color: #fcf0d3;
    text-align: center;
}

.programmation{
    font-family: Condensa CB;
    font-size: 85px;
    color: #f8bdd0;
    text-align: center;
    margin-top: -130px;
}

.films{
    margin-left: 70px;
    margin-right: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 12px;
    font-family: Condensa CB;
    font-size: 50px;
    color: #fcf0d3;
}

.ligne{
    border-bottom: 5px dotted #fcf0d3;
    transform: translateY(-10px);
}

.repas{
    margin-left: 70px;
    margin-right: 70px;
    gap: 12px;
    font-family: Condensa CB;
    font-size: 50px;
    color: #f8bdd0;
}

.ligne.repas{
    border-bottom: 5px dotted #f8bdd0;
    transform: translateY(-10px);
}

.pause{
    font-family: Condensa CB;
    font-size: 30px;
    color: #fcf0d3;
    margin-left: 70px;
    margin-right: 20px;
    margin-top: 100px;
}

.billeterie{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    font-family: CenturySchoolBook;
    font-size: 20px;
    color: #fcf0d3;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    gap: 50px;
}

.festival{
    color: #fcf0d3;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 32px;
    border: 1px solid  #f8bdd0;
    grid-column: span 2;
}

.seance{
    color: #fcf0d3;
    padding: 12px 32px;
    border-radius: 32px;
    border: 1px solid  #f8bdd0;
    grid-column: span 2;
}

.billeterie a{
    text-decoration: none;
    color: #fcf0d3;
}

.informations{
    display:grid;
    grid-template-columns: 550px auto;
    font-family: CenturySchoolBook;
    font-size: 25px;
    color: #fcf0d3;
    margin-left: 50px;
    margin-right: 20px;
}

.paris{
    display: grid;
    grid-auto-flow: row dense;
    margin-right: 20px;
}

.title.paul{
    font-family: Condensa CB;
    font-size: 423px;
    color:#FFD600;
    margin: 0;
    line-height: 0.8;
    margin-left: 400px;
}

.real.paul{
    font-family: Condensa CB;
    font-size: 80px;
    text-align: center;
    grid-column: span 4;
    grid-row: 3/4;
    color: #FFD600;
    margin: 0;
    margin-left: 370px;
}

.synopsis.paul{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 5/6;
    text-align: justify;
    padding-left: 150px;
    padding-right: 10px;
}

.distribpaul{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 8/9;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.fichepaul{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 9/10;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.paul5{
    font-family: Condensa CB;
    font-size: 50px;
    text-align: center;
    padding-left: 400px;
    grid-row: 12/13;
}
    
.paul5 a{
    text-decoration: none;
    color:#FFD600;
}

.paultout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 13/14;
    margin-bottom: 30px;
    font-family: Condensa CB;
    font-size: 22px;
    color:#FFD600;
    text-decoration: none;
    margin-top: 100px;
    padding-left: 350px;
}

.programpaul{
    text-decoration: none;
    color:#FFD600;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FFD600;
    text-align: center;
    grid-column: span 1;
}

.billetpaul{
    text-decoration: none;
    color:#FFD600;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FFD600;
    text-align: center;
    grid-column: span 2;
}

.inforpaul{
    text-decoration: none;
    color:#FFD600;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FFD600;
    text-align: center;
    grid-column: span 1;
}

.title.carrie{
    font-family: Condensa CB;
    font-size: 423px;
    color:#FA3434;
    margin: 0;
    margin-left: 250px;
    line-height: 0.8;
}

.real.carrie{
    font-family: Condensa CB;
    font-size: 80px;
    text-align: center;
    grid-column: span 4;
    grid-row: 3/4;
    color: #FA3434;
    margin: 0;
    margin-left: 150px;
}

.synopsis.carrie{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 5/6;
    text-align: justify;
    padding-left: 200px;
}

.distribcarrie{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 8/9;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.fichecarrie{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 9/10;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.carrie5{
    font-family: Condensa CB;
    font-size: 50px;
    text-align: center;
    grid-row: 12/13;
    padding-left: 300px;
}

.carrie5 a{
    text-decoration: none;
    color:#FA3434;
}

.carrietout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 13/14;
    margin-bottom: 30px;
    font-family: Condensa CB;
    font-size: 22px;
    color:#FA3434;
    text-decoration: none;
    margin-top: 100px;
    padding-left: 300px;
}

.programcarrie{
    text-decoration: none;
    color:#FA3434;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FA3434;
    text-align: center;
    grid-column: span 1;
}

.billetcarrie{
    text-decoration: none;
    color:#FA3434;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FA3434;
    text-align: center;
    grid-column: span 2;
}

.inforcarrie{
    text-decoration: none;
    color:#FA3434;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FA3434;
    text-align: center;
    grid-column: span 1;
}

.title.esther{
    font-family: Condensa CB;
    font-size: 423px;
    text-align: center;
    color:#BEECA9;
    margin: 0;
    line-height: 0.8;
    margin-left: 200px;
}

.real.esther{
    font-family: Condensa CB;
    font-size: 80px;
    text-align: center;
    grid-column: span 4;
    grid-row: 3/4;
    color: #BEECA9;
    margin: 0;
    margin-left: 80px;
}

.synopsis.esther{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 5/6;
    text-align: justify;
    padding-left: 200px;
}

.distribesther{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 8/9;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.ficheesther{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 9/10;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.esther5{
    font-family: Condensa CB;
    font-size: 50px;
    text-align: center;
    grid-row: 12/13;
    padding-left: 300px;
}

.esther5 a{
    text-decoration: none;
    color:#BEECA9;
}

.esthertout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 13/14;
    margin-bottom: 30px;
    font-family: Condensa CB;
    font-size: 22px;
    color:#BEECA9;
    text-decoration: none;
    margin-top: 100px;
    padding-left: 200px;
}

.programesther{
    text-decoration: none;
    color:#BEECA9;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #BEECA9;
    text-align: center;
    grid-column: span 1;
}

.billetesther{
    text-decoration: none;
    color:#BEECA9;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #BEECA9;
    text-align: center;
    grid-column: span 2;
}

.inforesther{
    text-decoration: none;
    color:#BEECA9;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #BEECA9;
    text-align: center;
    grid-column: span 1;
}

.title.nikita{
    font-family: Condensa CB;
    font-size: 423px;
    text-align: center;
    color:#FC7A56;
    margin: 0;
    line-height: 0.8;
    margin-left: 250px;
}

.real.nikita{
    font-family: Condensa CB;
    font-size: 80px;
    text-align: center;
    grid-column: span 4;
    grid-row: 3/4;
    color: #FC7A56;
    margin: 0;
    margin-left: 150px;
}

.synopsis.nikita{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 5/6;
    text-align: justify;
    padding-left: 200px;
}

.distribnikita{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 8/9;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.fichenikita{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 9/10;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}


.nikita5{
    font-family: Condensa CB;
    font-size: 50px;
    text-align: center;
    grid-row: 12/13;
    padding-left: 300px;
}

.nikita5 a{
    text-decoration: none;
    color:#FC7A56;
}

.nikitatout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 13/14;
    margin-bottom: 30px;
    font-family: Condensa CB;
    font-size: 22px;
    color:#FC7A56;
    text-decoration: none;
    margin-top: 100px;
    padding-left: 200px;
}

.programnikita{
    text-decoration: none;
    color:#FC7A56;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FC7A56;
    text-align: center;
    grid-column: span 1;
}

.billetnikita{
    text-decoration: none;
    color:#FC7A56;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FC7A56;
    text-align: center;
    grid-column: span 2;
}

.infornikita{
    text-decoration: none;
    color:#FC7A56;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FC7A56;
    text-align: center;
    grid-column: span 1;
}

.title.mulan{
    font-family: Condensa CB;
    font-size: 423px;
    text-align: center;
    color:#BEA9EC;
    margin: 0;
    line-height: 0.8;
    margin-left: 250px;
}

.real.mulan{
    font-family: Condensa CB;
    font-size: 80px;
    text-align: center;
    grid-column: span 4;
    grid-row: 3/4;
    color: #BEA9EC;
    margin: 0;
    margin-left: 150px;
}

.synopsis.mulan{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 5/6;
    text-align: justify;
    padding-left: 200px;
}

.distribmulan{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 8/9;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.fichemulan{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 9/10;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.mulan5{
    font-family: Condensa CB;
    font-size: 50px;
    text-align: center;
    grid-row: 12/13;
    padding-left: 300px;
}

.mulan5 a{
    text-decoration: none;
    color:#BEA9EC;
}

.mulantout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 13/14;
    margin-bottom: 30px;
    font-family: Condensa CB;
    font-size: 22px;
    color:#BEA9EC;
    text-decoration: none;
    margin-top: 100px;
    padding-left: 200px;
}

.programmulan{
    text-decoration: none;
    color:#BEA9EC;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #BEA9EC;
    text-align: center;
    grid-column: span 1;
}

.billetmulan{
    text-decoration: none;
    color:#BEA9EC;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #BEA9EC;
    text-align: center;
    grid-column: span 2;
}

.informulan{
    text-decoration: none;
    color:#BEA9EC;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #BEA9EC;
    text-align: center;
    grid-column: span 1;
}

.title.lolita{
    font-family: Condensa CB;
    font-size: 423px;
    text-align: center;
    color:#FF68A7;
    margin: 0;
    line-height: 0.8;
    margin-left: 250px;
}

.real.lolita{
    font-family: Condensa CB;
    font-size: 80px;
    text-align: center;
    grid-column: span 4;
    grid-row: 3/4;
    color: #FF68A7;
    margin: 0;
    margin-left: 150px;
}

.synopsis.lolita{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 5/6;
    text-align: justify;
    padding-left: 200px;
}

.distriblolita{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 8/9;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.fichelolita{
    font-family: CenturySchoolBook;
    font-size: 18px;
    color: #fcf0d3;
    grid-row: 9/10;
    text-align: justify;
    padding-left: 400px;
    list-style-type: disc;
}

.lolita5{
    font-family: Condensa CB;
    font-size: 50px;
    text-align: center;
    grid-row: 12/13;
    padding-left: 300px;
}

.lolita5 a{
    text-decoration: none;
    color:#FF68A7;
}

.lolitatout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 13/14;
    margin-bottom: 30px;
    font-family: Condensa CB;
    font-size: 22px;
    color:#FF68A7;
    text-decoration: none;
    margin-top: 100px;
    padding-left: 200px;
}

.programlolita{
    text-decoration: none;
    color:#FF68A7;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FF68A7;
    text-align: center;
    grid-column: span 1;
}

.billetlolita{
    text-decoration: none;
    color:#FF68A7;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FF68A7;
    text-align: center;
    grid-column: span 2;
}

.inforlolita{
    text-decoration: none;
    color:#FF68A7;
    padding: 12px 32px;
    border-radius: 32px;
    border:1px solid #FF68A7;
    text-align: center;
    grid-column: span 1;
}